*{
    margin: 0;
    padding: 0;
}
.field{
    /* background-color: green; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 2px solid black; */
    /* background-image: url("../img/background_form.jpg"); */

}


.cage{
    display: flex;
    
    
    /* background-color: red; */
}

#player_rugby{
    width: 100px;
    height: 150px;
    transform: rotateY(180deg);
} 