* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-board {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#87ceeb, #e0f6ff);
    bottom: 0;
    border-bottom:  50px solid #33532b;
    margin: 0 auto;
    overflow: hidden;
}

.obstacle {
    position: absolute;
    bottom: -6px;
    width: 150px;
    height: 150px;
    transform: rotate(-5deg);
    animation: obstacle 2.5s infinite linear;

}

.player {
    position: absolute;
    bottom: 0;
    width: 150px;
    bottom: -10px;
    border-radius: 50%;
}

.jump {
    animation: jump 600ms ease-out;
}

.clounds {
    position: absolute;
    width: 550px;
    animation: clounds-animation 20s infinite linear;
}

@keyframes obstacle {
    from {
        right: -200px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 220px;
    }

    50% {
        bottom: 250px;
    }

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clounds-animation {

    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}