* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.game-board {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 95vw;
    background: linear-gradient(#87ceeb, #e0f6ff);
    border-radius: 10px;
    border-bottom: 50px solid #33532b;
    gap: 1rem;
    overflow: hidden;

}

.clounds {
    position: absolute;
    width: 550px;
    top: 50px;
    animation: clounds-animation 20s infinite linear;
}

.player {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -8px;
    left: 50px;
    border-radius: 50%;
}

.sad {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -0px;
    left: 50px;
    border-radius: 50%;
}

.jump {
    animation: jump 600ms ease-out;
}

.obstacle {
    position: absolute;
    bottom: -7px;
    width: 150px;
    height: 150px;
    transform: rotate(-5deg);
    animation: obstacle 2.5s infinite linear;
}

.gameOver {
    background: none;
    background-color: #1c1d1c;
    background-image: url(../img/gameOver.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1000;
}

.restart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    background: linear-gradient(rgba(148, 43, 226, 0.8), #ffffff);
    border: transparent;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer
}

.restart:hover {
    color: rgb(210, 14, 80);
    height: 55px;
    width: 150px;
    font-size: 1.5rem;
    font-weight: 600;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 50px;
    min-width: 200px;
    background: white;
    border: black solid 0.5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 50px;
}

.lifeCounter {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 50px;
    min-width: 70px;
    top: -10px;
    left: -10px;
    background: white;
    border: black solid 0.5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 50px;
    z-index: 999;
}

.timming {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 5rem;
    font-weight: 600;
    margin: 50px;
}

.nameUser {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 50px;
    min-width: 100px;
    top: 50px;
    left: -10px;
    /* background: white; */
    /* border: black solid 0.5px; */
    /* border-radius: 10px; */
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 50px;
    z-index: 999;
}

.hidden {
    display: none;
}

/* ----------|KeyFrames|---------- */
@keyframes obstacle {
    from {
        right: -200px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 220px;
    }

    50% {
        bottom: 250px;
    }

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clounds-animation {

    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}